Config
root.ca.pem
*.tar.gz
.idea/
*.key
*.crt
*.bz2
*.p12
*.iml
*.dist-info
*.pyc
gg.*.sh
.DS_Store
*.tar
package-lock.json
node_modules
build
.gradle
*.swp
/out
*.jar
/functions
/foundation
/deployments
/credentials
/ggds
.classpath
.project
.settings/
bin/
lambda-support/layers/npm-layer.zip